# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/

# Rust / Tauri
/src-tauri/target/
/target/

# Node
node_modules/
dist/
release/

# IDE
.vs/
.vscode/
.idea/

# Raw / temp assets
raw_assets/*.tmp
*.safetensors
*.log
out.txt
err.txt
model/
voice line/
